
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    display: flex;
    flex-direction: column;
    background-color: rgb(255, 254, 254);
    justify-content: center;
    align-items: center;
}

a{
    color: rgb(10, 10, 10);
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    border-radius:20px;
    justify-content: right;
    margin-left: -1300px;
    text-decoration: none;
      
}
#toporosa{
    background-color:rgb(240, 120, 204);
    width: 100%;
    height: 150px;
    justify-content: center;            
    align-items: center;
    display: flex;
    flex-direction: column;
}

#card-header{
    background-color:rgb(12, 12, 12);
    width: 100%;
    height: 100px;
    display: flex;
    margin-bottom: 150px;
    /* margin-top: 140px;
    -webkit-box-shadow: 5px 5px 500px 8px rgba(0,0,0,0.8);
    box-shadow: 5px 5px 50px 8px rgba(0,0,0,0.8); */
}


#card{
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-color:rgb(240, 120, 204);
    width: 80%;
    margin-top: -50px;
    text-align: center;
    -webkit-box-shadow: 5px 5px 500px 8px rgba(0,0,0,0.8);
    box-shadow: 5px 5px 50px 8px rgba(0,0,0,0.8);
    
}

#card-nav ul{
    width: 100%;
    margin: 20px 20px;
    list-style: none;
          
}

#card-nav ul li{
   display: inline;

}

#logo{
    height: 60px;
    width: 100px;
}

#card #rosaembaixo h2{
   
    padding: 15px 0;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

#title{
    font-family: 'Roboto', sans-serif;
    color:rgb(24, 20, 22);
}


/* #partebranca{
    background-color:rgb(253, 253, 253);
    width: 100%;
    height: 100%; 
} */

#clock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

#clock h3{
    position: relative;
    display: block;
    color:rgb(236, 229, 233);
    text-align: center;
    margin:10px 0;
    font-weight:700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 1.7em;
    font-family: 'Montserrat', sans-serif;
}

#clock #time{
    display: flex;
    margin-top:15px;
    }

#clock #time div{
    position: relative;
    margin: 0 5px;
    /* -webkit-box-reflect:below 1px linear-gradient(transparent,#0004); */
}
#clock #time div span {
    position: relative;
    display: block;
    width: 100px;
    height: 80px;
    background: #f3466b;
    color: #fff;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5em;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .2); 
    border-radius: 10px;
    margin-bottom: 3px;
    font-family: 'Montserrat', sans-serif;
}
    
#clock #time div span:nth-child(2){
    height: 30px;
    font-size: 0.7em;
    letter-spacing: 0.2em;
    font-weight: 500;
    box-shadow: none;
    background: #9F09F0;       /* bloco dos segundos */
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    
       
}

 #clock #time div:last-child span{
     background-color: #f3466b;          
     font-family: 'Montserrat', sans-serif;
 } 

 #clock #time #minutes{
    background-color: #f3466b;
    font-family: 'Montserrat', sans-serif;
} 

 #clock #time div:last-child span:nth-child(2){
    background: #9F09F0;    /* bloco dos segundos */
    font-family: 'Montserrat', sans-serif;
  
}

#form-container{
    display: inline-flex;
    margin: 150px 100px 0 0;  
    padding: 0;
}

#divform{
    display: flex;
    justify-content: center;
    align-items: center;
    width:300px;
    height:330px;
    background-color: rgb(253, 253, 253);  
    margin-bottom: 50px;  
    box-shadow: inset 0 0 1em rgb(250, 122, 175), 0 0 2em rgb(250, 122, 175);
   
}

#form {
    z-index: 3;
    position: relative;
}

#form-img{
    margin-top:50px;
    border-radius:20px;
    z-index: -2;
    margin-left: -30px;
    position: relative;
    height: 200px;
    width: 400px;
}

#form-img img{
    /* max-width: 100%; */
    /* max-height: 100%; */
    border-radius:20px;
    height: 250px;
    width: 500px;
    border: 1px solid rgb(250, 122, 175);
    
}

#promo{
    padding-top:25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    font-weight: 50;
    font-weight: bold;
}

#nome{
    border: 1px solid black;
    margin-top:35px;
    padding: 4px;
    font-size: 1.2em;
    background-color: rgb(248, 211, 226);
    border-radius: 4px;
}

#email{
    border: 1px solid black;
    margin-top:20px;
    padding: 4px;
    font-size: 1.2em;
    background-color: rgb(248, 211, 226);
    border-radius: 4px;
}

#send-button{
    border: 1px solid black;
    margin-top:35px;
    padding: 10px 25px;
    font-size: 1.1em;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#send-button:hover{
 background-color:rgb(162, 169, 172);
 color: #fff;
 cursor: pointer;
 }

footer{
    margin:30px 0;
}